{% extends "base.html" %}

{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold text-center">{{ context['feature_title'] }}</h5>
    </div>
    <div class="card-body">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tortor velit, lacinia quis diam a, volutpat aliquet sem. Maecenas eget nulla a justo tristique vulputate. Quisque efficitur ipsum a lectus lobortis ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat metus nec eros luctus pulvinar. Cras laoreet elit ut cursus laoreet. Vivamus urna ante, finibus sit amet tellus sit amet, gravida vulputate augue. Suspendisse eget purus augue. Nulla luctus sit amet metus non suscipit.
        </p>
    </div>
</div>

<form method="POST" enctype=multipart/form-data>
    <div class="row">
        <div class="mb-3 col-auto">
            <input class="form-control" type="file" name="file" id="formFile">
        </div>
        <div class="mb-3 col-auto">
            <button type="submit" value="Upload" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

{% if context['headers'] and context['data'] %}
<table id="dataTable" class="table table-bordered" style="width:100%">
    <thead>
        <tr>
            {% for header in context['headers'] %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in context['data'] %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock content %}